/* anton-regular - latin */
@font-face {
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../../assets/fonts/anton-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../assets/fonts/anton-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/* goudy-bookletter-1911-regular - latin */
@font-face {
    font-family: 'Goudy Bookletter 1911';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../../assets/fonts/goudy-bookletter-1911-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../assets/fonts/goudy-bookletter-1911-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/* border-box model for all elements */

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* ---------------------------------*/

body {
    width: 100%;
    background-color: #e7cfaa;
}

.container_centered {
    width: 1280px;
    min-width: 1280px;
    margin: 40px auto;
}

img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

h1 {
    width: 190px;
    height: 35px;
    margin: 0;
    font-family: 'Anton', sans-serif;
    font-size: 32px;
    color: #F1CDB3;
    display: block;
}

h2 {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 44px;
}

h3 {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 35px;
}

h4 {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.01em;
}

.button {
    transition-duration: 0.4s;
}

.button:hover {
    cursor: pointer;
}

header {
    height: 400px;
    border-radius: 55px 55px 0 0;
    background-color: #f9f3ee;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    width: 443px;
    height: 27px;
    padding: 0;
    align-items: center;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header li {
    display: flex;
    align-items: center;
}

.catalog {
    background-color: #ffffff;
    min-height: 500px;
    margin: 0;
}

.card-container {
    padding: 40px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 550px;
    height: 350px;
    background-color: #ffffff;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.card-content {
    width: 40%;
    height: 300px;
    z-index: 2;
}

.card-content-image {
    box-shadow: 5px 5px 8px rgb(159, 159, 168);
}

.card-button-show {
    width: 299px;
    height: 50px;
    padding: 15px;
    transform: rotate(270deg);
    position: absolute;
    top: 151px;
    left: -95px;
    z-index: 1;
    text-align: center;
    border-radius: 15px 15px 0 0;
    transition-duration: 0.4s;
}

.card:hover .card-button-show {
    background-color: #f9f3ee;
    top: 151px;
    left: -146px;
    cursor: pointer;
}

.card:hover .card-content-image {
    box-shadow: 5px 5px 8px rgb(159, 159, 168), 10px 10px 4px rgb(218, 143, 143), 5px 15px 50px #e7cfaa;
}

.card-content-image:hover {
    cursor: pointer;
}

.card-button-add {
    width: 100%;
    height: 50px;
    margin-top: 50px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-color: #f9f3ee;
    border-radius: 15px;
}

.card-button-add {
    cursor: pointer;
}

footer {
    background-color: #ffffff;
    min-height: 100px;
    border-radius: 0 0 55px 55px;
}