/* old-standard-tt-regular - latin - analog font for 'Georgia' */
@font-face {
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../../assets/fonts/old-standard-tt-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../assets/fonts/old-standard-tt-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-sans-pro-regular - latin - analog font for 'Arial' */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../../assets/fonts/source-sans-pro-v21-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../assets/fonts/source-sans-pro-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-sans-pro-italic - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 400;
    src: local(''),
         url('../../assets/fonts/source-sans-pro-v21-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../assets/fonts/source-sans-pro-v21-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* border-box model for all elements */

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* ---------------------------------*/

body {
    width: 100%;
    background-color: #e7cfaa;
}

.container_centered {
    width: 1280px;
    min-width: 1280px;
    margin: 40px auto;
}

img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

h1 {
    width: 190px;
    height: 35px;
    margin: 0;
    font-family: 'Old Standard TT', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    display: block;
}

h2 {
    font-family: 'Old Standard TT', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
}

h3 {
    font-family: 'Old Standard TT', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

h4 {
    font-family: 'Old Standard TT', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.button {
    transition-duration: 0.4s;
}

.button:hover {
    cursor: pointer;
}

header {
    height: 500px;
    border-radius: 55px 55px 0 0;
    background-color: #f9f3ee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav {
    width: 443px;
    height: 27px;
    padding: 0;
    align-items: center;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header li {
    display: flex;
    align-items: center;
}

.catalog {
    background-color: #ffffff;
    min-height: 500px;
    margin: 0;
}

.card-container {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 550px;
    height: 350px;
    background-color: #ffffff;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.card-button-show {
    width: 299px;
    height: 50px;
    padding: 15px;
    transform: rotate(270deg);
    position: absolute;
    top: 151px;
    left: -95px;
    z-index: 1;
    text-align: center;
    border-radius: 15px 15px 0 0;
    transition-duration: 0.4s;
}

.card:hover .card-button-show {
    background-color: #f9f3ee;
    top: 151px;
    left: -146px;
}

.card-content {
    width: 40%;
    height: 300px;
    z-index: 2;
}

footer {
    background-color: #ffffff;
    min-height: 100px;
    border-radius: 0 0 55px 55px;
}